In [2]:
import numpy as np
import pandas as pd

In [2]:
DK_spring = pd.read_csv("data_Gen DK/DKData.csv", index_col = 0)
DK_spring_ps = pd.read_csv("data_Gen DK/DKData_ps.csv",index_col = 0)

In [3]:
DK_Spring_All = pd.concat([DK_spring, DK_spring_ps])

In [107]:
DK_Spring_All.columns

Index(['client_version', 'gametime', 'blue_teamname', 'blue_result',
       'red_teamname', 'red_result', 'call_name', 'champion', 'kill', 'death',
       'assist', 'kda', 'cs', 'csinteamjg', 'csinenemyjg', 'csm', 'golds',
       'gpm', 'gold_per', 'visionscore', 'ward_placed', 'ward_destroyed',
       'vspm', 'wpm', 'vwpm', 'wcpm', 'vs_per', 'Total_damage', 'dpm',
       'dmg_per', 'gd15', 'csd15', 'xpd15', 'lvld15', 'to_dmg_turrets'],
      dtype='object')

In [4]:
DK_Spring_All[DK_Spring_All['champion'] == 'Senna']

,client_version,gametime,blue_teamname,blue_result,red_teamname,red_result,call_name,champion,kill,death,...,wcpm,vs_per,Total_damage,dpm,dmg_per,gd15,csd15,xpd15,lvld15,to_dmg_turrets
4,v11.5,22:26,DWG KIA,WIN,KT Rolster,LOSS,Ghost,Senna,5,1,...,0.31,37.2%,15684,699,28.5%,2795,-8,920,1,5994
129,v11.4,28:09,Afreeca Freecs,LOSS,DWG KIA,WIN,Ghost,Senna,6,1,...,0.36,38.9%,17674,628,19%,729,-13,233,0,6513
159,v11.3,31:35,DWG KIA,LOSS,T1,WIN,Teddy,Senna,3,2,...,0.57,32.8%,18454,584,23%,934,12,394,1,2784
169,v11.3,28:38,T1,LOSS,DWG KIA,WIN,Ghost,Senna,5,1,...,0.42,33.7%,10541,368,18.6%,2143,13,215,1,4966
199,v11.3,34:42,Hanwha Life eSports,LOSS,DWG KIA,WIN,Ghost,Senna,10,2,...,0.55,35.9%,32538,938,31.2%,807,-2,1153,1,7011
294,v11.2,29:42,Hanwha Life eSports,LOSS,DWG KIA,WIN,Vsta,Senna,1,5,...,0.40,35.6%,10119,341,16.2%,-703,5,-137,0,0
308,v11.2,34:44,DWG KIA,WIN,Hanwha Life eSports,LOSS,Deft,Senna,3,0,...,0.60,19.9%,19691,567,35.3%,408,17,-160,0,1274
9,v11.6,28:11,Gen.G eSports,LOSS,DWG KIA,WIN,Ghost,Senna,2,1,...,0.67,33.6%,13741,488,20.8%,970,8,430,1,3420
24,v11.6,35:00,DWG KIA,WIN,Gen.G eSports,LOSS,Ghost,Senna,2,1,...,0.69,35.9%,16455,470,24.8%,1417,-14,260,0,8023
34,v11.6,34:33,DWG KIA,WIN,Hanwha Life eSports,LOSS,Ghost,Senna,2,0,...,0.58,33.8%,14282,413,17.7%,417,-3,436,1,355

In [5]:
GEN_spring = pd.read_csv("data_Gen DK/GengData.csv", index_col = 0)
GEN_spring_ps = pd.read_csv("data_Gen DK/GengData_ps.csv",index_col = 0)

In [6]:
GEN_Spring_All = pd.concat([GEN_spring, GEN_spring_ps])

In [7]:
GEN_spring[GEN_spring['champion'] == 'Senna']

,client_version,gametime,blue_teamname,blue_result,red_teamname,red_result,call_name,champion,kill,death,...,wcpm,vs_per,Total_damage,dpm,dmg_per,gd15,csd15,xpd15,lvld15,to_dmg_turrets
4,v11.5,42:57,Gen.G eSports,WIN,DRX,LOSS,Ruler,Senna,5,2,...,0.81,40.9%,20891,486,19%,872,-14,169,1,4616
99,v11.4,33:36,Gen.G eSports,LOSS,T1,WIN,Teddy,Senna,5,1,...,0.74,41%,15180,452,21%,910,24,2102,2,4641

젠지는 스프링 이전 테디 세나한테 딱 한번 짐

In [8]:
DK_spring_sum = pd.read_csv("data_Gen DK/DKSummary.csv", index_col = 0)
DK_spring_sum_ps = pd.read_csv("data_Gen DK/DKSummary_ps.csv",index_col = 0)

In [9]:
a = DK_spring_sum[(DK_spring_sum['blue_teamname'] == 'DWG KIA') & (DK_spring_sum['red_bans'] == 'Senna')]
b = DK_spring_sum[(DK_spring_sum['red_teamname'] == 'DWG KIA') & (DK_spring_sum['blue_bans'] == 'Senna')]

In [10]:
c = pd.concat([a,b])

In [11]:
d = DK_spring_sum[DK_spring_sum['blue_teamname'] == 'DWG KIA']
e = DK_spring_sum[DK_spring_sum['red_teamname'] == 'DWG KIA']

담원은 스프링기간동안 세나를 총 14번 벤당함

In [53]:
DK_baned1 = d[['red_bans','blue_teamname','blue_result']]
DK_baned2 = e[['blue_bans','red_teamname','red_result']]

In [57]:
# 합치기 위해 두개 같은 컬럼으로 바꿔주기 
DK_baned1.columns = ['bans', 'team', 'result']
DK_baned2.columns = ['bans', 'team', 'result']

In [73]:
DK_baned3 = pd.concat([DK_baned1,DK_baned2])
DK_baned3

          bans     team result
0    Seraphine  DWG KIA    WIN
1      Hecarim  DWG KIA    WIN
2         Udyr  DWG KIA    WIN
3         Sion  DWG KIA    WIN
4          Zoe  DWG KIA    WIN
..         ...      ...    ...
205     Syndra  DWG KIA    WIN
206   Pantheon  DWG KIA    WIN
207      Akali  DWG KIA    WIN
208     Gragas  DWG KIA    WIN
209       Ornn  DWG KIA    WIN

[210 rows x 3 columns]

In [81]:
DK_baned3['bans'].value_counts()

Graves         16
Senna          14
Syndra         13
Seraphine      12
Zoe            12
Taliyah        11
Gnar            9
Pantheon        9
Udyr            9
Rell            9
Gragas          8
Sion            8
Azir            8
Alistar         8
Yone            5
Lucian          5
Gangplank       5
Ornn            5
Kaisa           4
Kayn            4
Nidalee         4
Galio           4
TwistedFate     3
Akali           3
Renekton        2
Lillia          2
Aatrox          2
Hecarim         2
Maokai          2
Leona           1
Viktor          1
Nautilus        1
Camille         1
Orianna         1
Tristana        1
Samira          1
Lulu            1
Quinn           1
Rakan           1
Olaf            1
Morgana         1
Name: bans, dtype: int64

In [83]:
DK_baned3[DK_baned3['bans']== 'Senna']

      bans     team result
15   Senna  DWG KIA    WIN
30   Senna  DWG KIA    WIN
45   Senna  DWG KIA    WIN
50   Senna  DWG KIA    WIN
66   Senna  DWG KIA    WIN
90   Senna  DWG KIA    WIN
20   Senna  DWG KIA    WIN
25   Senna  DWG KIA   LOSS
35   Senna  DWG KIA   LOSS
40   Senna  DWG KIA    WIN
55   Senna  DWG KIA    WIN
71   Senna  DWG KIA    WIN
85   Senna  DWG KIA    WIN
141  Senna  DWG KIA    WIN

In [79]:
d

,client_version,blue_teamname,blue_result,red_teamname,red_result,gametime,blue_bans,blue_picks,blue_kill,blue_turret,blue_dragon,blue_baron,blue_gold,red_bans,red_picks,red_kill,red_turret,red_dragon,red_baron,red_gold
0,v11.5,DWG KIA,WIN,KT Rolster,LOSS,22:26,Thresh,Gangplank,15,9,2,1,48.5k,Seraphine,Renekton,3,0,0,0,34k
1,v11.5,DWG KIA,WIN,KT Rolster,LOSS,22:26,Ezreal,Nidalee,15,9,2,1,48.5k,Hecarim,Lillia,3,0,0,0,34k
2,v11.5,DWG KIA,WIN,KT Rolster,LOSS,22:26,Rell,Azir,15,9,2,1,48.5k,Udyr,Ryze,3,0,0,0,34k
3,v11.5,DWG KIA,WIN,KT Rolster,LOSS,22:26,Gnar,TahmKench,15,9,2,1,48.5k,Sion,Tristana,3,0,0,0,34k
4,v11.5,DWG KIA,WIN,KT Rolster,LOSS,22:26,Yone,Senna,15,9,2,1,48.5k,Zoe,Alistar,3,0,0,0,34k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,v11.1,DWG KIA,WIN,T1,LOSS,41:03,TwistedFate,Gnar,17,10,5,2,80.4k,Akali,Camille,18,5,1,0,72.9k
201,v11.1,DWG KIA,WIN,T1,LOSS,41:03,Aphelios,Olaf,17,10,5,2,80.4k,Taliyah,Lillia,18,5,1,0,72.9k
202,v11.1,DWG KIA,WIN,T1,LOSS,41:03,Pantheon,Zoe,17,10,5,2,80.4k,Syndra,Azir,18,5,1,0,72.9k
203,v11.1,DWG KIA,WIN,T1,LOSS,41:03,Graves,Kaisa,17,10,5,2,80.4k,Alistar,Samira,18,5,1,0,72.9k
204,v11.1,DWG KIA,WIN,T1,LOSS,41:03,Jayce,Nautilus,17,10,5,2,80.4k,Maokai,Rell,18,5,1,0,72.9k

# 젠지시점

In [85]:
GEN_spring_sum = pd.read_csv("data_Gen DK/GengSummary.csv", index_col = 0)
GEN_spring_sum_ps = pd.read_csv("data_Gen DK/GengSummary_ps.csv",index_col = 0)

In [87]:
GEN_spring[GEN_spring['champion'] == 'Senna']

,client_version,gametime,blue_teamname,blue_result,red_teamname,red_result,call_name,champion,kill,death,...,wcpm,vs_per,Total_damage,dpm,dmg_per,gd15,csd15,xpd15,lvld15,to_dmg_turrets
4,v11.5,42:57,Gen.G eSports,WIN,DRX,LOSS,Ruler,Senna,5,2,...,0.81,40.9%,20891,486,19%,872,-14,169,1,4616
99,v11.4,33:36,Gen.G eSports,LOSS,T1,WIN,Teddy,Senna,5,1,...,0.74,41%,15180,452,21%,910,24,2102,2,4641

In [97]:
a

,client_version,blue_teamname,blue_result,red_teamname,red_result,gametime,blue_bans,blue_picks,blue_kill,blue_turret,blue_dragon,blue_baron,blue_gold,red_bans,red_picks,red_kill,red_turret,red_dragon,red_baron,red_gold
0,v11.5,Gen.G eSports,WIN,DRX,LOSS,42:57,Gnar,Volibear,19,9,5,2,80.3k,Kalista,Renekton,13,7,2,0,72.8k
1,v11.5,Gen.G eSports,WIN,DRX,LOSS,42:57,Seraphine,Udyr,19,9,5,2,80.3k,Thresh,Nidalee,13,7,2,0,72.8k
2,v11.5,Gen.G eSports,WIN,DRX,LOSS,42:57,Lillia,Zoe,19,9,5,2,80.3k,Hecarim,Viktor,13,7,2,0,72.8k
3,v11.5,Gen.G eSports,WIN,DRX,LOSS,42:57,Rell,Karma,19,9,5,2,80.3k,TahmKench,Tristana,13,7,2,0,72.8k
4,v11.5,Gen.G eSports,WIN,DRX,LOSS,42:57,Orianna,Senna,19,9,5,2,80.3k,Azir,Nautilus,13,7,2,0,72.8k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,v11.1,Gen.G eSports,WIN,Fredit BRION,LOSS,27:44,Samira,Camille,21,10,3,1,59.2k,Sett,Gnar,6,2,0,0,44.7k
201,v11.1,Gen.G eSports,WIN,Fredit BRION,LOSS,27:44,Gragas,Taliyah,21,10,3,1,59.2k,Renekton,Nidalee,6,2,0,0,44.7k
202,v11.1,Gen.G eSports,WIN,Fredit BRION,LOSS,27:44,Pantheon,Orianna,21,10,3,1,59.2k,Kaisa,Zoe,6,2,0,0,44.7k
203,v11.1,Gen.G eSports,WIN,Fredit BRION,LOSS,27:44,Thresh,Jhin,21,10,3,1,59.2k,Galio,Aphelios,6,2,0,0,44.7k
204,v11.1,Gen.G eSports,WIN,Fredit BRION,LOSS,27:44,Yone,Nautilus,21,10,3,1,59.2k,TwistedFate,Rell,6,2,0,0,44.7k

In [93]:
a =GEN_spring_sum[GEN_spring_sum['blue_teamname'] == 'Gen.G eSports']
b =GEN_spring_sum[GEN_spring_sum['red_teamname'] == 'Gen.G eSports']

In [104]:
GEN_spring_sum[(GEN_spring_sum['blue_bans'] == 'Senna') | (GEN_spring_sum['red_bans'] == 'Senna')]

,client_version,blue_teamname,blue_result,red_teamname,red_result,gametime,blue_bans,blue_picks,blue_kill,blue_turret,blue_dragon,blue_baron,blue_gold,red_bans,red_picks,red_kill,red_turret,red_dragon,red_baron,red_gold
25,v11.5,Gen.G eSports,WIN,DWG KIA,LOSS,34:22,Senna,Chogath,14,9,4,1,64.9k,Kalista,Sion,2,2,1,0,53.7k
30,v11.5,DWG KIA,WIN,Gen.G eSports,LOSS,27:02,Kalista,Sion,11,7,1,0,49.1k,Senna,Chogath,8,0,2,0,43.1k
35,v11.5,Gen.G eSports,WIN,DWG KIA,LOSS,33:44,Senna,Chogath,16,10,2,1,62k,Kalista,Sion,8,1,3,0,54.9k
42,v11.4,T1,WIN,Gen.G eSports,LOSS,32:37,Rell,Seraphine,19,9,1,1,63.2k,Senna,Azir,5,3,2,1,52.4k

In [105]:
GEN_spring_sum.iloc[40:45]

,client_version,blue_teamname,blue_result,red_teamname,red_result,gametime,blue_bans,blue_picks,blue_kill,blue_turret,blue_dragon,blue_baron,blue_gold,red_bans,red_picks,red_kill,red_turret,red_dragon,red_baron,red_gold
40,v11.4,T1,WIN,Gen.G eSports,LOSS,32:37,Renekton,Gnar,19,9,1,1,63.2k,Thresh,Camille,5,3,2,1,52.4k
41,v11.4,T1,WIN,Gen.G eSports,LOSS,32:37,Kalista,Hecarim,19,9,1,1,63.2k,Lillia,Udyr,5,3,2,1,52.4k
42,v11.4,T1,WIN,Gen.G eSports,LOSS,32:37,Rell,Seraphine,19,9,1,1,63.2k,Senna,Azir,5,3,2,1,52.4k
43,v11.4,T1,WIN,Gen.G eSports,LOSS,32:37,Xayah,Kaisa,19,9,1,1,63.2k,Gragas,Aphelios,5,3,2,1,52.4k
44,v11.4,T1,WIN,Gen.G eSports,LOSS,32:37,Tristana,Leona,19,9,1,1,63.2k,Kennen,Galio,5,3,2,1,52.4k

In [112]:
DK_Spring_All

,client_version,gametime,blue_teamname,blue_result,red_teamname,red_result,call_name,champion,kill,death,...,wcpm,vs_per,Total_damage,dpm,dmg_per,gd15,csd15,xpd15,lvld15,to_dmg_turrets
0,v11.5,22:26,DWG KIA,WIN,KT Rolster,LOSS,Khan,Gangplank,4,1,...,0.09,14.6%,16120,719,29.3%,982,-1,884,1,5666
1,v11.5,22:26,DWG KIA,WIN,KT Rolster,LOSS,Canyon,Nidalee,5,0,...,0.36,20.4%,8995,401,16.4%,796,30,788,0,1271
2,v11.5,22:26,DWG KIA,WIN,KT Rolster,LOSS,ShowMaker,Azir,1,1,...,0.22,18.2%,7837,349,14.3%,-343,-13,-464,0,4207
3,v11.5,22:26,DWG KIA,WIN,KT Rolster,LOSS,BeryL,Tahm Kench,0,0,...,0.04,9.5%,6316,282,11.5%,1685,28,219,1,2483
4,v11.5,22:26,DWG KIA,WIN,KT Rolster,LOSS,Ghost,Senna,5,1,...,0.31,37.2%,15684,699,28.5%,2795,-8,920,1,5994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45,v11.6,31:00,Hanwha Life eSports,LOSS,DWG KIA,WIN,Khan,Sion,1,2,...,0.23,15.7%,16949,547,23.8%,498,0,331,0,8330
46,v11.6,31:00,Hanwha Life eSports,LOSS,DWG KIA,WIN,Canyon,Graves,3,2,...,0.39,20.7%,16256,524,22.8%,-332,25,742,1,2166
47,v11.6,31:00,Hanwha Life eSports,LOSS,DWG KIA,WIN,ShowMaker,Seraphine,1,2,...,0.26,16.5%,13271,428,18.6%,-477,-10,-1080,-1,2716
48,v11.6,31:00,Hanwha Life eSports,LOSS,DWG KIA,WIN,Ghost,Ezreal,6,2,...,0.42,13.6%,19359,624,27.1%,-1074,-9,-71,0,5257
49,v11.6,31:00,Hanwha Life eSports,LOSS,DWG KIA,WIN,BeryL,Braum,0,1,...,0.61,33.5%,5481,177,7.7%,-270,-1,-167,0,570

In [114]:
DK_Spring_All[['call_name','champion','gold_per']]

    call_name    champion gold_per
0        Khan   Gangplank    21.6%
1      Canyon     Nidalee    21.2%
2   ShowMaker        Azir    19.8%
3       BeryL  Tahm Kench    18.5%
4       Ghost       Senna    18.9%
..        ...         ...      ...
45       Khan        Sion    20.9%
46     Canyon      Graves    23.5%
47  ShowMaker   Seraphine      19%
48      Ghost      Ezreal    23.7%
49      BeryL       Braum      13%

[470 rows x 3 columns]

In [134]:
a = DK_Spring_All[['call_name','champion','gold_per']]

In [25]:
DK_Spring_All['gold_per'] = DK_Spring_All['gold_per'].str.replace('%','')
DK_Spring_All['gold_per'] = DK_Spring_All['gold_per'].astype('float32')

In [147]:
b = a.groupby(by=['call_name','champion'], as_index=False).mean().round(2)
b

    call_name  champion   gold_per
0      Arthur    Lillia  18.650000
1      Arthur      Olaf  20.000000
2      Arthur  Pantheon  15.900000
3      Arthur      Udyr  18.299999
4      Arthur  Volibear  18.900000
..        ...       ...        ...
224   deokdam    Samira  22.500000
225    kingen      Ornn  17.100000
226    kingen  Renekton  20.900000
227    kingen     Sylas  21.000000
228    kingen  Volibear  20.500000

[229 rows x 3 columns]

In [151]:
b['call_name'].unique()

array(['Arthur', 'BAO', 'Bang', 'Bay', 'Bdd', 'Becca', 'BeryL', 'Canna',
       'Canyon', 'Chovy', 'Clid', 'Clozer', 'Croco', 'Deft', 'Delight',
       'Doran', 'Dove', 'Dread', 'DuDu', 'Effort', 'Ellim', 'FATE',
       'Faker', 'Flawless', 'Fly', 'GIDEON', 'Ghost', 'Gumayusi', 'Hena',
       'Hoya', 'HyBrid', 'Kellin', 'Keria', 'Khan', 'Kiin', 'Lava',
       'Lehends', 'Life', 'Morgan', 'Noah', 'OnFleek', 'Oner', 'Peanut',
       'Prince', 'Pyosik', 'Rascal', 'Rich', 'Route', 'Ruler', 'SOLKA',
       'ShowMaker', 'Summit', 'Teddy', 'Ucal', 'UmTi', 'Vsta', 'Yaharong',
       'Zeus', 'Zzus', 'blank', 'deokdam', 'kingen'], dtype=object)

In [153]:
aa = b[b['call_name'] == 'Khan']
bb = b[b['call_name'] == 'Canyon']
cc = b[b['call_name'] == 'ShowMaker']
dd = b[b['call_name'] == 'Ghost']
ee = b[b['call_name'] == 'BeryL']

In [157]:
pd.concat([aa,bb,cc,dd,ee]).groupby(by=['call_name']).mean()

            gold_per
call_name
BeryL      14.424000
Canyon     20.454445
Ghost      22.903749
Khan       19.951538
ShowMaker  22.861668

In [183]:
DK_Spring_All = DK_Spring_All.reset_index(drop=True)

In [184]:
a = DK_Spring_All[DK_Spring_All['champion'] == 'Senna']
b = a[a['call_name'] == 'Ghost']

In [185]:
b

,client_version,gametime,blue_teamname,blue_result,red_teamname,red_result,call_name,champion,kill,death,...,wcpm,vs_per,Total_damage,dpm,dmg_per,gd15,csd15,xpd15,lvld15,to_dmg_turrets
4,v11.5,22:26,DWG KIA,WIN,KT Rolster,LOSS,Ghost,Senna,5,1,...,0.31,37.2%,15684,699,28.5%,2795,-8,920,1,5994
129,v11.4,28:09,Afreeca Freecs,LOSS,DWG KIA,WIN,Ghost,Senna,6,1,...,0.36,38.9%,17674,628,19%,729,-13,233,0,6513
169,v11.3,28:38,T1,LOSS,DWG KIA,WIN,Ghost,Senna,5,1,...,0.42,33.7%,10541,368,18.6%,2143,13,215,1,4966
199,v11.3,34:42,Hanwha Life eSports,LOSS,DWG KIA,WIN,Ghost,Senna,10,2,...,0.55,35.9%,32538,938,31.2%,807,-2,1153,1,7011
429,v11.6,28:11,Gen.G eSports,LOSS,DWG KIA,WIN,Ghost,Senna,2,1,...,0.67,33.6%,13741,488,20.8%,970,8,430,1,3420
444,v11.6,35:00,DWG KIA,WIN,Gen.G eSports,LOSS,Ghost,Senna,2,1,...,0.69,35.9%,16455,470,24.8%,1417,-14,260,0,8023
454,v11.6,34:33,DWG KIA,WIN,Hanwha Life eSports,LOSS,Ghost,Senna,2,0,...,0.58,33.8%,14282,413,17.7%,417,-3,436,1,355

In [188]:
DK_Spring_All.iloc[450: 455]

,client_version,gametime,blue_teamname,blue_result,red_teamname,red_result,call_name,champion,kill,death,...,wcpm,vs_per,Total_damage,dpm,dmg_per,gd15,csd15,xpd15,lvld15,to_dmg_turrets
450,v11.6,34:33,DWG KIA,WIN,Hanwha Life eSports,LOSS,Khan,Gangplank,3,4,...,0.06,16.2%,26624,771,33%,-1314,-10,-1693,-1,6584
451,v11.6,34:33,DWG KIA,WIN,Hanwha Life eSports,LOSS,Canyon,Udyr,0,3,...,0.75,23%,5623,163,7%,-1768,-9,-386,0,0
452,v11.6,34:33,DWG KIA,WIN,Hanwha Life eSports,LOSS,ShowMaker,Zoe,8,2,...,0.26,15.5%,20838,603,25.9%,-26,-8,99,1,2423
453,v11.6,34:33,DWG KIA,WIN,Hanwha Life eSports,LOSS,BeryL,Cho,5,2,...,0.29,11.5%,13236,383,16.4%,-412,-24,-71,0,2011
454,v11.6,34:33,DWG KIA,WIN,Hanwha Life eSports,LOSS,Ghost,Senna,2,0,...,0.58,33.8%,14282,413,17.7%,417,-3,436,1,355

In [198]:
DK_Spring_All.columns

Index(['client_version', 'gametime', 'blue_teamname', 'blue_result',
       'red_teamname', 'red_result', 'call_name', 'champion', 'kill', 'death',
       'assist', 'kda', 'cs', 'csinteamjg', 'csinenemyjg', 'csm', 'golds',
       'gpm', 'gold_per', 'visionscore', 'ward_placed', 'ward_destroyed',
       'vspm', 'wpm', 'vwpm', 'wcpm', 'vs_per', 'Total_damage', 'dpm',
       'dmg_per', 'gd15', 'csd15', 'xpd15', 'lvld15', 'to_dmg_turrets'],
      dtype='object')

In [189]:
aaa  = DK_Spring_All.iloc[0:5]
bbb  = DK_Spring_All.iloc[125:130]
ccc  = DK_Spring_All.iloc[165:170]
ddd  = DK_Spring_All.iloc[195:200]
eee  = DK_Spring_All.iloc[425: 430]
fff  = DK_Spring_All.iloc[440: 445]
ggg  = DK_Spring_All.iloc[450: 455]

In [191]:
senna = pd.concat([aaa,bbb,ccc,ddd,eee,fff,ggg])

In [194]:
senna.groupby('call_name').mean()['gold_per']

call_name
BeryL        19.514286
Canyon       19.828571
Ghost        18.557142
Khan         19.857143
ShowMaker    22.271429
Name: gold_per, dtype: float32

In [242]:
senna.columns

Index(['client_version', 'gametime', 'blue_teamname', 'blue_result',
       'red_teamname', 'red_result', 'call_name', 'champion', 'kill', 'death',
       'assist', 'kda', 'cs', 'csinteamjg', 'csinenemyjg', 'csm', 'golds',
       'gpm', 'gold_per', 'visionscore', 'ward_placed', 'ward_destroyed',
       'vspm', 'wpm', 'vwpm', 'wcpm', 'vs_per', 'Total_damage', 'dpm',
       'dmg_per', 'gd15', 'csd15', 'xpd15', 'lvld15', 'to_dmg_turrets'],
      dtype='object')

In [200]:
senna[['blue_teamname','red_teamname','call_name','champion','visionscore','csinenemyjg','gpm','gold_per','gd15','csd15','xpd15','lvld15']]

,blue_teamname,red_teamname,call_name,champion,visionscore,csinenemyjg,gpm,gold_per,gd15,csd15,xpd15,lvld15
0,DWG KIA,KT Rolster,Khan,Gangplank,20,4,466,21.600000,982,-1,884,1
1,DWG KIA,KT Rolster,Canyon,Nidalee,28,11,459,21.200001,796,30,788,0
2,DWG KIA,KT Rolster,ShowMaker,Azir,25,4,428,19.799999,-343,-13,-464,0
3,DWG KIA,KT Rolster,BeryL,Tahm Kench,13,3,400,18.500000,1685,28,219,1
4,DWG KIA,KT Rolster,Ghost,Senna,51,0,408,18.900000,2795,-8,920,1
125,Afreeca Freecs,DWG KIA,Khan,Gragas,25,1,311,16.100000,-317,-11,-350,0
126,Afreeca Freecs,DWG KIA,Canyon,Hecarim,32,11,437,22.600000,1962,32,1740,2
127,Afreeca Freecs,DWG KIA,ShowMaker,Zoe,39,0,444,22.900000,684,2,687,1
128,Afreeca Freecs,DWG KIA,BeryL,Tahm Kench,28,4,373,19.299999,-107,-3,240,0
129,Afreeca Freecs,DWG KIA,Ghost,Senna,79,0,373,19.200001,729,-13,233,0
165,T1,DWG KIA,Khan,Sion,37,0,362,18.700001,-1156,-28,-843,-1
166,T1,DWG KIA,Canyon,Kayn,72,3,383,19.799999,872,12,578,0
167,T1,DWG KIA,ShowMaker,Viktor,46,0,439,22.700001,85,-14,-124,0
168,T1,DWG KIA,BeryL,Maokai,18,0,383,19.799999,434,-29,484,1
169,T1,DWG KIA,Ghost,Senna,88,4,368,19.000000,2143,13,215,1
195,Hanwha Life eSports,DWG KIA,Khan,Sion,31,0,384,18.900000,-228,-15,-121,0
196,Hanwha Life eSports,DWG KIA,Canyon,Udyr,48,5,402,19.799999,-496,1,-156,0
197,Hanwha Life eSports,DWG KIA,ShowMaker,Azir,62,4,438,21.500000,-825,-5,418,0
198,Hanwha Life eSports,DWG KIA,BeryL,Heimerdinger,32,0,388,19.100000,-691,-19,-554,0
199,Hanwha Life eSports,DWG KIA,Ghost,Senna,97,1,420,20.700001,807,-2,1153,1
425,Gen.G eSports,DWG KIA,Khan,Sion,25,2,393,21.100000,865,15,57,0
426,Gen.G eSports,DWG KIA,Canyon,Udyr,67,6,387,20.799999,1054,22,1118,1
427,Gen.G eSports,DWG KIA,ShowMaker,Viktor,32,5,467,25.100000,-164,-19,-604,-1
428,Gen.G eSports,DWG KIA,BeryL,Tahm Kench,24,0,305,16.400000,-260,-18,-122,0
429,Gen.G eSports,DWG KIA,Ghost,Senna,75,0,309,16.600000,970,8,430,1
440,DWG KIA,Gen.G eSports,Khan,Sion,37,0,336,19.100000,-506,-8,-5,0
441,DWG KIA,Gen.G eSports,Canyon,Udyr,56,14,319,18.100000,-34,25,1367,1
442,DWG KIA,Gen.G eSports,ShowMaker,Viktor,56,5,378,21.500000,-17,-1,350,0
443,DWG KIA,Gen.G eSports,BeryL,Heimerdinger,37,4,395,22.500000,39,-16,318,0
444,DWG KIA,Gen.G eSports,Ghost,Senna,104,4,330,18.799999,1417,-14,260,0
450,DWG KIA,Hanwha Life eSports,Khan,Gangplank,48,10,429,23.500000,-1314,-10,-1693,-1
451,DWG KIA,Hanwha Life eSports,Canyon,Udyr,68,9,301,16.500000,-1768,-9,-386,0
452,DWG KIA,Hanwha Life eSports,ShowMaker,Zoe,46,0,409,22.400000,-26,-8,99,1
453,DWG KIA,Hanwha Life eSports,BeryL,Cho,34,5,384,21.000000,-412,-24,-71,0
454,DWG KIA,Hanwha Life eSports,Ghost,Senna,100,0,304,16.700001,417,-3,436,1

In [285]:
senna[senna['call_name'] == 'Ghost'].columns

Index(['client_version', 'gametime', 'blue_teamname', 'blue_result',
       'red_teamname', 'red_result', 'call_name', 'champion', 'kill', 'death',
       'assist', 'kda', 'cs', 'csinteamjg', 'csinenemyjg', 'csm', 'golds',
       'gpm', 'gold_per', 'visionscore', 'ward_placed', 'ward_destroyed',
       'vspm', 'wpm', 'vwpm', 'wcpm', 'vs_per', 'Total_damage', 'dpm',
       'dmg_per', 'gd15', 'csd15', 'xpd15', 'lvld15', 'to_dmg_turrets'],
      dtype='object')

In [202]:
senna.index

Int64Index([  0,   1,   2,   3,   4, 125, 126, 127, 128, 129, 165, 166, 167,
            168, 169, 195, 196, 197, 198, 199, 425, 426, 427, 428, 429, 440,
            441, 442, 443, 444, 450, 451, 452, 453, 454],
           dtype='int64')

In [233]:
DK_Spring_All2 =DK_Spring_All[['call_name','champion','visionscore','csinenemyjg','dpm','gpm','gold_per','gd15','csd15','xpd15','lvld15']]

In [228]:
DK_Spring_All3 = DK_Spring_All2.drop(index=senna.index).groupby(by='call_name').mean()

In [26]:
aa = DK_Spring_All2[DK_Spring_All2['call_name'] == 'Khan']
bb = DK_Spring_All2[DK_Spring_All2['call_name'] == 'Canyon']
cc = DK_Spring_All2[DK_Spring_All2['call_name'] == 'ShowMaker']
dd = DK_Spring_All2[DK_Spring_All2['call_name'] == 'Ghost']
ee = DK_Spring_All2[DK_Spring_All2['call_name'] == 'BeryL']

In [235]:
DK_Spring_All3 = pd.concat([aa,bb,cc,dd,ee])

In [236]:
DK_Spring_All4 = DK_Spring_All3.drop(index=senna.index).groupby(by='call_name').mean()

In [237]:
DK_Spring_All4

,visionscore,csinenemyjg,dpm,gpm,gold_per,gd15,csd15,xpd15,lvld15
call_name,,,,,,,,,
BeryL,97.350,0.200,205.550,245.325,13.037500,149.700,2.300,148.325,0.175
Canyon,62.200,17.025,429.475,385.650,20.504999,312.725,10.725,612.800,0.525
Ghost,53.875,4.925,487.825,451.600,24.032499,-73.600,-3.925,-21.425,-0.075
Khan,37.775,3.575,505.275,375.250,19.960001,175.025,-3.175,-46.900,-0.150
ShowMaker,47.750,5.950,550.650,423.950,22.477499,460.850,7.525,97.075,0.025

In [226]:
senna2 = senna[['call_name','champion','visionscore','csinenemyjg','dpm','gpm','gold_per','gd15','csd15','xpd15','lvld15']]
senna2.groupby('call_name').mean()

,visionscore,csinenemyjg,dpm,gpm,gold_per,gd15,csd15,xpd15,lvld15
call_name,,,,,,,,,
BeryL,26.571429,2.285714,383.428571,375.428571,19.514286,98.285714,-11.571429,73.428571,0.285714
Canyon,53.000000,8.428571,345.857143,384.000000,19.828571,340.857143,16.142857,721.285714,0.571429
Ghost,84.857143,1.285714,572.000000,358.857143,18.557142,1325.428571,-2.714286,521.000000,0.714286
Khan,31.857143,2.428571,552.571429,383.000000,19.857143,-239.142857,-8.285714,-295.857143,-0.142857
ShowMaker,43.714286,2.571429,619.000000,429.000000,22.271429,-86.571429,-8.285714,51.714286,0.142857

In [225]:
senna['champion'].value_counts()

Senna           7
Sion            4
Udyr            4
Viktor          3
Tahm Kench      3
Zoe             2
Heimerdinger    2
Azir            2
Gangplank       2
Gragas          1
Nidalee         1
Maokai          1
Kayn            1
Cho             1
Hecarim         1
Name: champion, dtype: int64

In [18]:
aa = DK_Spring_All[DK_Spring_All['call_name'] == 'Khan']
bb = DK_Spring_All[DK_Spring_All['call_name'] == 'Canyon']
cc = DK_Spring_All[DK_Spring_All['call_name'] == 'ShowMaker']
dd = DK_Spring_All[DK_Spring_All['call_name'] == 'Ghost']
ee = DK_Spring_All[DK_Spring_All['call_name'] == 'BeryL']

In [27]:
DK_Spring_All2 = pd.concat([aa,bb,cc,dd,ee])

In [28]:
DK_Spring_All3.groupby('call_name').mean()

,visionscore,csinenemyjg,dpm,gpm,gd15,csd15,xpd15,lvld15
call_name,,,,,,,,
BeryL,86.808511,0.510638,232.042553,264.702128,142.042553,0.234043,137.170213,0.191489
Canyon,60.829787,15.744681,417.021277,385.404255,316.914894,11.531915,628.957447,0.531915
Ghost,58.489362,4.382979,500.361702,437.787234,134.765957,-3.744681,59.361702,0.042553
Khan,36.893617,3.404255,512.319149,376.404255,113.340426,-3.936170,-83.978723,-0.148936
ShowMaker,47.148936,5.446809,560.829787,424.702128,379.319149,5.170213,90.319149,0.042553

In [35]:
GEN_Spring_All['gold_per'] = GEN_Spring_All['gold_per'].str.replace('%','')
GEN_Spring_All['gold_per'] = GEN_Spring_All['gold_per'].astype('float32')

In [36]:
aa = GEN_Spring_All[GEN_Spring_All['call_name'] == 'Rascal']
bb = GEN_Spring_All[GEN_Spring_All['call_name'] == 'Clid']
cc = GEN_Spring_All[GEN_Spring_All['call_name'] == 'Bdd']
dd = GEN_Spring_All[GEN_Spring_All['call_name'] == 'Life']
ee = GEN_Spring_All[GEN_Spring_All['call_name'] == 'Ruler']

In [37]:
GEN_Spring_All2 = pd.concat([aa,bb,cc,dd,ee])

In [38]:
GEN_Spring_All2

,client_version,gametime,blue_teamname,blue_result,red_teamname,red_result,call_name,champion,kill,death,...,wcpm,vs_per,Total_damage,dpm,dmg_per,gd15,csd15,xpd15,lvld15,to_dmg_turrets
0,v11.5,42:57,Gen.G eSports,WIN,DRX,LOSS,Rascal,Volibear,2,5,...,0.23,11.8%,16226,378,14.8%,-2350,-43,-1408,-1,4078
15,v11.5,27:48,DRX,LOSS,Gen.G eSports,WIN,Rascal,Cho,3,0,...,0.07,15.3%,11782,424,26.2%,166,10,283,1,7034
25,v11.5,29:05,KT Rolster,LOSS,Gen.G eSports,WIN,Rascal,Ornn,1,1,...,0.17,10.9%,6960,239,13.6%,194,10,332,0,4441
30,v11.5,28:34,Gen.G eSports,WIN,KT Rolster,LOSS,Rascal,Ornn,0,0,...,0.25,12%,8481,297,21.6%,462,18,398,1,2222
45,v11.5,33:32,KT Rolster,WIN,Gen.G eSports,LOSS,Rascal,Neeko,0,3,...,0.30,12%,4919,147,22.9%,-662,2,-660,-1,144
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,v11.6,28:11,Gen.G eSports,LOSS,DWG KIA,WIN,Ruler,Tristana,2,3,...,0.39,25%,13115,465,30.3%,260,18,122,0,128
13,v11.6,48:43,Gen.G eSports,LOSS,DWG KIA,WIN,Ruler,Tristana,14,2,...,0.92,31.8%,45178,927,34%,438,2,568,1,2793
28,v11.6,35:00,DWG KIA,WIN,Gen.G eSports,LOSS,Ruler,Aphelios,0,3,...,0.57,17.2%,12568,359,25%,-39,16,-318,0,2386
38,v11.6,31:33,T1,LOSS,Gen.G eSports,WIN,Ruler,Kalista,5,1,...,0.86,38.7%,11762,373,24.2%,279,17,-57,0,8098
43,v11.6,32:09,Gen.G eSports,WIN,T1,LOSS,Ruler,Kalista,3,0,...,0.93,27.5%,13614,423,28.6%,1644,47,181,0,11562

In [39]:
GEN_Spring_All3 = GEN_Spring_All2[['call_name','champion','visionscore','csinenemyjg','dpm','gpm','gold_per','gd15','csd15','xpd15','lvld15']]

In [30]:
aa = DK_Spring_All[DK_Spring_All['call_name'] == 'Khan']
bb = DK_Spring_All[DK_Spring_All['call_name'] == 'Canyon']
cc = DK_Spring_All[DK_Spring_All['call_name'] == 'ShowMaker']
dd = DK_Spring_All[DK_Spring_All['call_name'] == 'Ghost']
ee = DK_Spring_All[DK_Spring_All['call_name'] == 'BeryL']

In [31]:
DK_Spring_All2 = pd.concat([aa,bb,cc,dd,ee])

In [32]:
DK_Spring_All3 = DK_Spring_All2[['call_name','champion','visionscore','csinenemyjg','dpm','gpm','gold_per','gd15','csd15','xpd15','lvld15']]

In [34]:
DK_Spring_All3.groupby('call_name').mean().to_csv('DWG_mean.csv')

In [41]:
GEN_Spring_All3.groupby('call_name').mean().to_csv('GenG_mean.csv')

#

In [7]:
a = pd.read_csv('projectData/ver1118.csv', index_col=0 )
len(a)

1000000

In [12]:
a.columns

Index(['gameId', 'createDate', 'teamId', 'summonerId', 'isUnknownSummoner',
       'participantId', 'championId', 'result', 'skinIndex', 'spell1',
       'spell2', 'leaver', 'experienceEarned', 'eligibleFirstWinOfDay',
       'ipEarned', 'boostXpEarned', 'boostIpEarned', 'premadeSize', 'item0',
       'item1', 'item2', 'item3', 'item4', 'item5', 'item6', 'level',
       'championsKilled', 'numDeaths', 'assists', 'neutralMinionsKilled',
       'turretsKilled', 'barracksKilled', 'minionsKilled', 'largestMultiKill',
       'largestCriticalStrike', 'largestKillingSpree', 'goldEarned',
       'physicalDamageDealtToChampions', 'magicDamageDealtPlayer',
       'physicalDamageTaken', 'sightWardsBoughtInGame',
       'visionWardsBoughtInGame', 'wardKilled', 'wardPlaced', 'totalHeal',
       'totalDamageDealtToChampions', 'totalDamageDealt', 'totalDamageTaken',
       'neutralMinionsKilledEnemyJungle', 'neutralMinionsKilledTeamJungle',
       'visionScore', 'timeCCingOthers', 'damageSelfMitigated',
       'damageDealtToObjectives', 'damageDealtToTurrets', 'lane', 'role',
       'keystoneMasteryId', 'tierRank', 'position', 'isDetail', 'isRanked',
       'perk0', 'perkPrimaryStyle', 'perkSubStyle', 'opScore', 'opScoreRank',
       'isOPScoreMaxInTeam', 'b.gameId', 'gameMapId', 'gameType', 'subType',
       'b.createDate', 'gameLength', 'interestScore', 'goldLeadChangeCount',
       'isSurrender', 'coreMinute', 'coreMinuteGoldDiff', 'isComebackWin',
       'maxGoldDiffBeforeComeback', 'maxGoldDiffMinBeforeComeback',
       'firstGoldLeadMinAfterComeback', 'version', 'scanned', 'isFullData',
       'isPlusData'],
      dtype='object')

In [21]:
a['premadeSize'].unique()

array([0], dtype=int64)